@charset "utf:-8";
*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 16px;
}
em,i{
    font-style: normal;
}
a,u{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
b,strong{
    font-weight: normal;
}
img{
    border:0;
}
input{
    outline: none;
}

.float-left{
    float:left;
}
.float-right{
    float:right;
}
.bg-none{
    background:none!important;
}